body {
  background: #c2d137;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #36e963, #053b70);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4CA1AF, #0d8020); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
